* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto";
}

a {
  color: black;
  text-decoration: none;
}

/* .section{
  padding: 5px;
} */

/* HEADER */

header {
  background-image: linear-gradient(to bottom, #FED39E, transparent);
  height: 100px;
  padding: 10px;
  overflow: hidden;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.headerContent{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.logoContainer{
  height: 100%;
}

.logoImg{
  width: 100%;
}

.navContainer{
  position: relative;
  width: 75%;
  margin-left: 20%;
  text-align: center;
}

.navContainer nav{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.navContent{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;  
}

.navContent li a{
  font-size: 20px;
  color: white;
}

.navContent li a:hover{
  font-weight: bold;
  border-bottom: 2px solid white;
  padding: 0px 10px 30px 10px;
}

/* HOME */

#home{
  position: absolute;
  top: 0px;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  z-index: 1;
}

.presentationContainer{
  background-image: url('../assets/studioPhoto.jpeg');
  height: 100vh;
}
 
.presentationContent{
  position: relative;
  width: 400px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 100px;
  padding: 20px;
  border-radius: 10px;
  background-color: #FED39EA6;
}

.presentationContent h1{
  font-size: 50px;
  color: #3C2F26;
}

.presentationContent p{
  color: #3C2F26;
  padding: 5px;
  font-weight: bold;
}

/* SERVICES */

